@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS */

@layer utilities {
  .hide-scrollbar {
    /* Hide the scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }
}

/* Style the vertical scrollbar */
*::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
}

*::-webkit-scrollbar-thumb {
  background: #555; /* Grayish color for the scrollbar thumb */
  border-radius: 10px; /* Rounded edges for a modern look */
}

*::-webkit-scrollbar-thumb:hover {
  background: #777; /* Slightly lighter gray on hover */
}

*::-webkit-scrollbar-track {
  background: #222; /* Dark background for the track */
  border-radius: 10px;
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.typing-animation {
  font-family: 'Courier New', monospace; /* Typing feel */
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  border-right: 2px solid black; /* Blinking cursor */
  animation: typing 3s steps(30, end), blink 0.5s step-end infinite;
  max-width: 100%; /* Prevent overflowing */
}

